<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
>
    <head>
        <title>Đặt hàng thành công</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="alert alert-success">
                <h4>Đặt hàng thành công!</h4>
                <p>Cảm ơn bạn đã mua hàng.</p>
                <a href="/products" class="btn btn-primary">Tiếp tục mua sắm</a>
            </div>
        </div>
    </body>
</html>
